<ActionBar title="List" class="action-bar">
</ActionBar>
<StackLayout class="p-20">
    <ActivityIndicator [busy]="isLoading" width="50" height="50" [visibility]="isLoading ? 'visible' : 'collapse'" color="red"></ActivityIndicator>
    <ListView [items]="myItems" (itemTap)="onItemTap($event)">
    <template let-item="item">
        <StackLayout>
            <Label [text]='" Id " + item.id'></Label>
            <Label [text]='" NAME " + item.name'></Label>
            <Label [text]='"  USERNAME " + item.username'></Label>
        </StackLayout>
    </template>
</ListView>
</StackLayout>